@using BugTracker.ViewModels;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BugTracker.styles.css" asp-append-version="true" />
</head>
<body>
    <main>
        <div class="h-100 w-100 position-absolutetext-white">
            <!-- Header -->
            <header class="sticky-top">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light nav-border mb-0 bg-dark3">
                    <div class="container-fluid px-2">
                        <!-- Logo -->
                        <div class="d-flex flex-column text-center">
                            <div class="nav-item" role="button">
                                <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" width="40" height="40" class="flex-shrink-0"><i class="bi bi-speedometer2"></i></a>
                            </div>
                        </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                            <ul class="navbar-nav flex-grow-1 justify-content-start align-items-center">
                                <li class="nav-item mx-2">
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                            <li class="nav-item">
                                                <h6 class="m-0 px-2">
                                                <a class="nav-link text-white align-items-center" asp-area="" asp-controller="Project" asp-action="Index">Projects</a>
                                              </h6>
                                            </li>
                                    @if(User.IsInRole("admin"))
                                    {
                                        <li class="nav-item">
                                            <h6 class="m-0 px-2">
                                                    <a class="nav-link text-white align-items-center" asp-area="" asp-controller="Member" asp-action="Manage">Users</a>
                                            </h6>
                                        </li> 
                                    }
                                }
                                else
                                {
                                    <li class="nav-item">
                                    <h6 class="m-0 px-2">
                                            <div class="nav-link text-white align-items-center">BugTracker</div>
                                        </h6>
                                    </li>
                                }
                                    </ul>
                            <ul class="navbar-nav flex-grow-1 justify-content-end align-items-center">
                                @if (User.Identity.IsAuthenticated)
                                {
                                                <li class="nav-item px-1"><div>Hello, @ViewData["FullName"]</div></li>
                                                <li class="nav-item px-2">
                                                    <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Edit">Edit Account</a>
                                                </li>
                                                <li class="nav-item">
                                                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                                                        <button class="btn btn-outline-danger">Logout</button>
                                                    </form>
                                                </li>
                                }
                                @*else
                                {
                                                <li class="nav-item px-2">
                                                    <a class="btn btn-outline-success" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                                                </li>
                                }*@
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="d-flex flex-row h-100 fixed-top" style="margin-top:60px; width:60px;">
            <aside class="d-flex flex-column bg-dark2">
                <!-- Dashboard -->
                        @if (User.Identity.IsAuthenticated)
                        {
                                <div class="d-flex flex-column m-2 mb-0 pb-2 dash-border text-center" style="width:40px;"> 
                                <div class="nav-item" role="button" data-toggle="tooltip" data-bs-placement="right" title="Dashboard" width="40" height="40" >
                                    <a asp-controller="Dashboard" asp-action="Index">
                                                <div class="bg-secondary rounded-circle d-flex align-items-center" style="height:40px">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fff" class="bi bi-speedometer" viewBox="0 0 16 16" style="display: block; margin:auto;">
                                                    <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                                                    <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                                                </svg>
                                        </div>
                                </a>
                            </div>
                        </div>
                        }
                <!--Project List-->
                <div class="d-flex flex-column text-center">
                            @if (User.Identity.IsAuthenticated)
                            {
                                List<ProjectLinkViewModel> projectList = ViewBag.ProjecLinkVM;
                                @if (projectList != null)
                                {
                                    @foreach (var item in projectList)
                                    {
                                        <div class="nav-item m-2 mb-0" role="button">
                                        <a asp-controller="Project" asp-action="Detail" asp-route-id="@item.Id">
                                            <div class="proj-icon" data-toggle="tooltip" data-bs-placement="right" title="@item.Title">
                                                            <div class="proj-initial"><b>@item.Title[0]</b></div>
                                            </div>
                                            @*<img src="https://github.com/twbs.png" width="40" height="40" class="rounded-circle m-0 p-0 flex-shrink-0"  data-toggle="tooltip" data-bs-placement="right" title="@item.Title">*@
                                        </a>
                                        </div>
                                    }

                                }
                            } else
                            {
                                <div class="nav-item m-2 mb-0" style="width:40px;">
                                </div>
                            }
                        </div>
            </aside>
        </div>
            </header>
            
        <div class="d-flex flex-row h-100">
            <aside class="d-flex flex-column bg-dark2" style="width:60px;">
            </aside>
            <aside class="container-fluid p-0 ">
                <!-- Body -->
                <div class="container">
                        <br />
                    @RenderBody()
                </div>
            </aside>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
