@using BugTracker.ViewModels;
@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="d-flex flex-column">
<div>
<h2>Dashboard</h2>
</div>
<hr/> 

<div class="row">
<!-- Tickets -->
 <div class="col-9">
 <h3>Tickets</h3>

<div class="list-group mb-2">
	<!--Header-->

</div>
</div>

<!-- Progress -->
<div class="col-3">
<h3>Progress</h3>
<div class="align-self-center" id="chartBox">
    <canvas id="doughnut-chart" width="800" height="450"></canvas>
</div>

@{//<canvas id="bar-chart" width="800" height="450"></canvas> 
}

<style>
    #customLegend ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    #customLegend ul li {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-direction: row;
        margin-bottom: 5px;
        line-height: 22px;
    }

    #customLegend ul li span {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    #customLegend ul li p {
        margin: 0;
        padding: 0;
        color: rgba(102,102,102,1);
    }

    #customLegend ul li.dim p {
        margin: 0;
        padding: 0;
        color: rgba(102,102,102,0.5);
    }




</style>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    $(document).ready(function() {
        // Doughnut Chart
        const myChart = new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
              labels: ["Resolved", "New", "Open", "In Progress", "Additional Info Required"],
              datasets: [
                    @for (int i=0;i<Model.ProjectProgress.Count;++i)
                    {
                        var item = Model.ProjectProgress[i];
                        var isHidden = i == 0 ? "true" : "false";
                        <text>
                        {
                            label: 'Tickets',
                                    backgroundColor: ['@Model.ProjectColors[i]', '#f3f3f3','#f3f3f3','#f3f3f3', '#f3f3f3'],
                            data: [@item[0], @item[1], @item[2], @item[3], @item[4]],
                            hidden: false,
                        },
                        </text>
                    }
              ]
            },
            options: {
                labels: {
                    display: false
                },
                legend: {
                    display: false
                 },
              title: {
                display: false,
                text: 'Project Task Progress'
              }
            },
            plugins: [{
                    id: 'text',
                    beforeDraw: function(chart, a, b) {
                    // get values
                    var resolved = 0;
                    var total = 0;

                    // Sum all tickets and resolved tickets
                    myChart.data.datasets.forEach((dataset) => {
                        if (!dataset.hidden) {
                            resolved += dataset.data[0];
                            dataset.data.forEach((value) => {
                                total += value;
                            });
                        }
                    });

                    var percentage = (100 * resolved/total).toFixed(0);

                    // Draw Percentage
                    var width = chart.width,
                    height = chart.height,
                    ctx = chart.ctx;

                    ctx.restore();
                    var fontSize = (height / 150).toFixed(2);
                    ctx.font = fontSize + "em sans-serif";
                    ctx.textBaseline = "middle";

                    var text = percentage + "%",
                    textX = Math.round((width - ctx.measureText(text).width) / 2),
                    textY = height * 1.11 / 2;

                    ctx.fillStyle = "#000000";

                    ctx.fillText(text, textX, textY);
                    ctx.save();

                    // Draw numer / denom
                    ctx.fillStyle = "#666666";
                    fontSize = (height / 275).toFixed(2);
                    ctx.font = "525 " + fontSize + "em sans-serif";
                    text = resolved + "/" + total;
                    textX = Math.round((width - ctx.measureText(text).width) / 2),
                    textY = height * 1.3 / 2;

                    ctx.fillText(text, textX, textY);
                    ctx.save();

                    // Draw Resolved
                    ctx.fillStyle = "#000000";
                    fontSize = (height / 350).toFixed(2);
                    ctx.font = "550 " + fontSize + "em sans-serif";
                    text = "Resolved";
                    textX = Math.round((width - ctx.measureText(text).width) / 2),
                    textY = height * 1.43 / 2;
                        
                    ctx.fillText(text, textX, textY);
                    ctx.save();
                }
            }],
        });

        function GenerateLegend() {
            // Get legend parent
            const chartBox = document.getElementById('chartBox');
            // Create Div
            const div = document.createElement('div');
            div.setAttribute('id', 'customLegend');

            // Create UL
            const ul = document.createElement('ul');
            
            // Generate Arrays
            const titles = {
                    @for(int i=0;i<Model.ProjectTitles.Count;++i)
                    {
                        <text>@i: '@Model.ProjectTitles[i]',</text>
                    }
            };
            const colors = {
                    @for (int i = 0; i < Model.ProjectTitles.Count; ++i)
                    {
                        <text>@i: '@Model.ProjectColors[i]',</text>
                    }
            };

            // access dataset values
            myChart.data.datasets.forEach((dataset, index) => {
                const text = titles[index];
                const bgColor = colors[index];

                dataset.backgroundColor[0] = bgColor;
                
                // create li in foreach loop
                const li = document.createElement('li');
                
                // span colorbox
                const spanBox = document.createElement('span');
                //spanBox.style.borderColor = bColor;
                spanBox.style.backgroundColor = bgColor;

                // p + text
                const p = document.createElement('p');
                const textNode = document.createTextNode(text);

                li.onclick = (click) => {
                    dataset.hidden = !dataset.hidden;

                    UpdateLegend(click);
                };

                ul.appendChild(li);
                li.appendChild(spanBox);
                li.appendChild(p);
                p.appendChild(textNode);

            });

            // Insert div as child
            chartBox.appendChild(div);
            div.append(ul);
        };

        function UpdateLegend(click) {
            const element = click.target.parentNode;
            element.classList.toggle('dim');
            myChart.update();
        }

        GenerateLegend();
    });
</script>

}