@using BugTracker.Data.Enum
@using BugTracker.ViewModels
@model CreateTicketViewModel
<div class="row d-flex justify-content-center">
<div class="col-md-8">
<h2>@Model.ProjectTitle New Ticket</h2>

<form method="post" asp-action="Create" enctype="multipart/form-data">
	<input type="hidden" asp-for="@Model.Id" />
	<input type="hidden" asp-for="@Model.ProjectId" />
	<input type="hidden" asp-for="@Model.AuthorId" />

	<div class="form-group mb-2">
		<label asp-for="Title">Title</label>
		<input asp-for="Title" class="form-control" placeholder="Title">
		<span asp-validation-for="Title" class="text-danger"></span>  
	</div>
	<div class="form-group mb-2">
		<label asp-for="Description">Description</label>
		<textarea asp-for="Description" class="form-control" placeholder="Description" rows="3"></textarea>
		<span asp-validation-for="Description" class="text-danger"></span>  
	</div>
	<div class="row mb-2">
		<div class="form-group col-md-4">
			<label asp-for="Priority">Priority</label>
			<select asp-for="Priority" asp-items="@Html.GetEnumSelectList<TicketPriority>()" class="form-control">
			<option>Choose...</option>
			</select>
			<span asp-validation-for="Priority" class="text-danger"></span>  
		</div>
		<div class="form-group col-md-4">
			<label asp-for="Type">Type</label>
			<select asp-for="Type" asp-items="@Html.GetEnumSelectList<TicketType>()" class="form-control">
			<option>Choose...</option>
			</select>
			<span asp-validation-for="Type" class="text-danger"></span>  
		</div>    
	</div>    
	<div class="row mb-2">
		<div class="form-group col-md-4">
			<label asp-for="AssignedDevId">Assigned Developer</label>
			<select asp-for="AssignedDevId" class="form-control">
				<option>Choose...</option>
						@foreach (var item in Model.TeamSelectList)
						{
						<option value="@item.Id">@item.FirstName<p> </p>@item.LastName</option>		
						}
			</select>
			<span asp-validation-for="AssignedDevId" class="text-danger"></span>  
		</div>
	</div>
	<button type="submit" class="btn btn-primary gap-2">Save Changes</button>
</form>
</div>
</div>