@using BugTracker.Data.Enum;
@using BugTracker.Models;
@model Ticket
<div class="row d-flex justify-content-center">
<div class="col-md-8">

<div class="card">
  <div class="card-body">
    <div class="card-subtitle mb-2 text-muted d-flex gap-2">
        <div>
            <b>Project ID: @Model.ProjectId</b>
        </div>
<<<<<<< Updated upstream
        <div>Posted by: kevindev</div>
        <dive>Created: @Model.CreatedAt</dive>
    </div>
    <h5 class="card-title">@Model.Title</h5>
    <div class="d-flex gap-2">
        <span class="badge bg-primary">@Model.Type</span>
        <span class="badge bg-info">@Model.Priority</span>
        <span class="badge bg-success">@Model.Status</span>
    </div>
    <br>
    <p class="card-text">@Model.Description</p>
  </div>
    </div>
</div>
</div>
=======
        <h5 class="card-title">@Model.Title</h5>
        <div class="d-flex gap-2">
            <span class="badge bg-primary">@Model.Type</span>
            <span class="badge bg-info">@Model.Priority</span>
            <span class="badge bg-success">@Model.Status</span>
        </div>
            <br>
            <p class="card-text">@Model.Description</p>
        </div>
        <div>
            <div class="mx-2 opacity-75 d-flex flex-col">
                <p class="mx-1">Created: @Model.CreatedAt</p>
                <p class="mx-1">Updated: @Model.UpdatedAt</p>
            </div> 
        </div>
            <form id="statusForm" method="post" asp-action="Edit" enctype="multipart/form-data">
                <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" asp-for="@Model.ProjectId" />
                    <input type="hidden" asp-for="@Model.Title" />
                    <input type="hidden" asp-for="@Model.Description" />
                    <input type="hidden" asp-for="@Model.Priority" />
                    <input type="hidden" asp-for="@Model.Type" />
                    <input type="hidden" id="Status" name="Status" value='1'/>
                @if(Model.AssignedDev != null)
                {
                    <input type="hidden" id="AssignedDevId" value="@Model.AssignedDev.Id" />
                }
                @if (Model.Author != null)
                {
                    <input type="hidden" id="AuthorId" value="@Model.Author.Id" />
                }
            </form>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Mark As...
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >  
                    @foreach (var item in Html.GetEnumSelectList<TicketStatus>())
                    {
                        <li><button class="dropdown-item" onclick="setStatus('@item.Value')" id="btnSubmit">@item.Text</button></li>
                    }
              </ul>
    </div>
</div>

@section Scripts
{
<script>
 function setStatus(value) {
    const form = document.getElementById('statusForm');
    form["Status"].value = value;
    document.getElementById('statusForm').submit();
 }
</script>
}
>>>>>>> Stashed changes
